{{define "headextra"}}
{{- if .PrevURL}}<link rel="prev" href="{{.PrevURL}}">{{end}}
{{- if .NextURL}}<link rel="next" href="{{.NextURL}}">{{end}}
{{- if .IsLanding}}{{range .FeedLinks}}
<link rel="{{.Rel}}" type="{{.Type}}" href="{{.Href}}" title="{{.Title}}">
{{- end}}{{end}}
{{- end}}
{{define "content"}}
<h1 class="listing-heading">{{.Heading}}</h1>
<section class="facet-controls" data-facets aria-label="Refine">
<ol class="article-list" data-articles>
{{- range .Items}}
<li class="article-item" data-author="{{.AuthorSlug}}" data-section="{{.SectionSlug}}" data-topics="{{.TopicsAttr}}" data-month="{{.MonthSlug}}">
<article class="card">
<h2 class="card-title"><a class="card-link" href="{{.URL}}">{{.Title}}</a></h2>
<p class="byline">By <a class="author-link" href="{{.AuthorURL}}" data-author>{{.AuthorLabel}}</a> in <a class="section-link" href="{{.SectionURL}}" data-section>{{.Section}}</a></p>
<time class="published" datetime="{{rfc3339 .PublishedAt}}">{{humandate .PublishedAt}}</time>
{{- if .Topics}}
<ul class="topics" data-topics>
{{- range .Topics}}
<li><a class="topic-link" href="{{.URL}}">{{.Label}}</a></li>
{{- end}}
</ul>
{{- end}}
</article>
</li>
{{- end}}
</ol>
{{- if gt (len .Pager.Pages) 1}}
<nav class="pager" data-pager aria-label="Pages">
{{- range .Pager.Pages}}
<a class="pager-link" href="{{.URL}}">{{.N}}</a>
{{- end}}
</nav>
{{- end}}
{{- if .Months}}
<nav class="months" data-months aria-label="Months">
{{- range .Months}}
<a class="month-link" href="{{.URL}}" data-month="{{.Slug}}">{{.Label}}</a>
{{- end}}
</nav>
{{- end}}
</section>
{{- if .IsLanding}}
{{.Manifest}}
{{- end}}
{{end}}
